/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.obrigatorio {
	-fx-font-weight: bold;
	-fx-font-size: 14px;
}

.panel {
	-fx-background-color: #F5F5F5 ;
}

TextField, Label  {
	-fx-font-size: 14px;
}

.font {
	-fx-font-size: 14px !important;
}

.status-bar {
	-fx-border-style: solid;
	-fx-border-width: 1px;
	-fx-border-color: #4F4F4F;
}